<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="font-family: 'Calibri Light'">This is the home page</p>
<p style="font-family: Calibri">Of course it works</p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid atque debitis deserunt dolorem doloremque et eum ex fugit laborum modi perspiciatis porro quidem quod soluta suscipit unde, veritatis voluptas.</span><span>Blanditiis earum enim est eum ex id in, ipsa ipsam labore neque odio odit, perferendis quaerat quisquam similique temporibus, ullam. Cupiditate inventore ipsa iste itaque laudantium nisi nostrum quibusdam quisquam.</span><span>Consectetur dignissimos eaque enim fugiat impedit maxime nesciunt ullam. Ab amet animi aperiam asperiores atque explicabo iste mollitia nemo nobis obcaecati perferendis, possimus, quidem, rerum saepe voluptates? Commodi, impedit, laborum.</span></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem, beatae cupiditate debitis dolore eaque eligendi enim, expedita fugiat labore laboriosam maxime perferendis praesentium quisquam quo sed, tempore veritatis vitae.</p>

</body>
</html>
